NEXT_PUBLIC_SITE_URL=https://www.careerarth.com
NEXT_PUBLIC_API_BASE_URL=https://YOUR_API_ID.execute-api.YOUR_AWS_REGION.amazonaws.com
NEXT_PUBLIC_CAPTCHA_PLACEHOLDER_TOKEN=REPLACE_WITH_CLIENT_CAPTCHA_TOKEN

APP_ENV=production
ALLOWED_ORIGINS=https://www.careerarth.com,https://careerarth.com
DDB_TABLE_NAME=CareerArthApp
AWS_REGION=ap-south-1
SES_FROM_EMAIL=no-reply@careerarth.com
SES_NOTIFY_EMAIL=contact@careerarth.com
CAPTCHA_VERIFY_URL=PLACEHOLDER_OR_PROVIDER_VERIFY_URL
CAPTCHA_SECRET_KEY=PLACEHOLDER_SERVER_SIDE_SECRET
CAPTCHA_PLACEHOLDER_TOKEN=REPLACE_WITH_SERVER_CAPTCHA_TOKEN
RATE_LIMIT_MAX=5
RATE_LIMIT_WINDOW_SECONDS=900
